<p><span style="font-family: 돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif; font-size: 12px;"><br><span
        style="font-size: 12pt;">{index}. ${quiz.title}</span><br></span></p>
<ul nid="SE_disc_0" style="margin-left: 0px; padding-left: 0px; list-style-position: inside;">
    <li style="list-style: none; background-repeat: no-repeat; font-size: 12pt; background-image: url(https://ssl.pstatic.net/static/pwe/nm/se2_new/bu/bu_disc_m.png); padding-left: 13px; background-position: 0px 7px;">
        <span style="font-family: 돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif; font-size: 12px;">카테고리: [${quiz.category}]</span>
    </li>
    <li style="list-style: none; background-repeat: no-repeat; font-size: 12pt; background-image: url(https://ssl.pstatic.net/static/pwe/nm/se2_new/bu/bu_disc_m.png); padding-left: 13px; background-position: 0px 7px;">
        <span style="font-family: 돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif; font-size: 12px;">문제 난이도: ${quiz.level}</span>
    </li>
</ul>
<p><br><br><br style="font-family: 돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif; font-size: 12px;">
</p>