<p style="font-size: 13.3333px;"><font face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif">____________________________________________________________________________________________________________________</font>
</p>
<p style="font-size: 13.3333px;"><font face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif"><br></font></p>
<p style="font-size: 13.3333px;"><font face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif">Send by:&nbsp;
    whalsrb1226@gmail.com</font></p>
<p style=""><font face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif" style="font-size: 13.3333px;">GitHub:&nbsp;</font><font
        face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif"><span style="font-size: 13.3333px;"><a
        href="https://github.com/MangKyu/InterviewSubscription" target="_blank"
        style="cursor: pointer; white-space: pre;" rel="noreferrer noopener">https://github.com/MangKyu/InterviewSubscription</a><span></span></span></font>
</p>
<p style=""><font face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif" style="font-size: 13.3333px;">Blog:&nbsp;</font><font
        face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif"><span style="font-size: 13.3333px;"><a
        href="https://mangkyu.tistory.com" target="_blank"
        style="cursor: pointer; white-space: pre;" rel="noreferrer noopener">https://mangkyu.tistory.com</a><span></span></span></font>
</p>
<p><br></p>
<p><br></p>
<p><br></p>