<p><font face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif"><span style="font-size: 10pt;">안녕하세요,&nbsp;</span><span
        style="font-size: 10pt;">${currentDate} 망나니개발자 기술면접 질문입니다.</span></font></p>
<p><font face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif"><span style="font-size: 10pt;">정답 리뷰가 필요하시면 답장과 함께 말씀해주세요!</span></font>
</p>
<p><font face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif"><span style="font-size: 10pt;">바쁘면 봐드리지 못할 수 있으니 양해 부탁드립니다.</span></font>
</p>
<p><br></p>
<p><font face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif"><span style="font-size: 10pt;"><br></span></font>
</p>
<p><font face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif"><span style="font-size: 10pt;">_____________________________________________________________________________________________________________________</span></font>
</p>
<p><font face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif"><span style="font-size: 10pt;"><br></span></font>
</p>
<p><font face="돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif"><span
        style="font-size: 18pt;">${currentDate} 기술면접 질문</span></font></p>